@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Abril Fatface', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

.csz {
  position: relative;
}

.csz::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0));
  z-index: 1;
  opacity: 1;
}

.img-content {
  position: relative;
  z-index: 2;
}

.dark-overlay {
  position: relative;
}

.dark-overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  z-index: 1;
  opacity: 1;
}

.ovly {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  opacity: 1;
}